@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style-type: none;
      text-decoration: ltr;
      font-family: "lato";
}
html,
body,
.container {
      width: 100%;
      height: 100%;
}
.container {
      background-color: #fea600;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
}
.row {
      margin-bottom: 200px !important;
}
.row,
h1,
p {
      margin: 30px 0;
}
.row p {
      font-size: 35px;
}
.buttons {
      display: flex;
}
.buttons button {
      background-color: transparent;
      outline: 3px #fff solid;
      border: none;
      border-radius: 4px;
      margin: 0 30px;
      padding: 20px 40px;
      font-size: 22px;
      cursor: pointer;
      transition: 0.25s ease-in-out;
}
.buttons #startStopBtn {
      color: #008d18;
      outline-color: #008d18;
}
#startStopBtn.redColorClass {
      color: #ff0000;
      outline-color: #ff0000;
}
#startStopBtn.greenColorClass {
      color: #008d18;
      outline-color: #008d18;
}
#resetBtn {
      color: #000;
      outline-color: #000;
}
#resetBtn:hover,
#startStopBtn:hover {
      color: #fff;
      outline-color: #fff;
      transition: 0.25s ease-in-out;
}
